
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif; 
}

h1{
    color: #2563EB;
    font-size: 30px;
    padding: 0; 
    margin: 0 0 12px; 
}

body{
    background-color: white;
    max-width: 400px;
    margin: 0 auto;

}

.input-task{
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 350px;
    height: 40px;
    padding: 0 14px;
}

.button-add-task{
    border: none; 
    border-radius: 10px;
    height: 44px; 
    width: 100px; 
    background-color: #EFF6FF;
    color: #2563EB;
    font-size: 17px;
    padding: 0 15px; 
    float: right;
    cursor: pointer; 
    transition: 0.5s;
}

.button-add-task:hover{
    background-color: #2563EB ;
    opacity: 1;
    color: white; 
}

.container{
    background-color: rgb(220, 218, 218);
    width: 500px; 
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

img{
    height: 25px; 
    opacity:1;
}

.list-tasks{
    list-style: none;
    padding: 0; 
    margin-top: 30px;
}

.task{
    background-color:#EFF6FF;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0, 2);
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-weight: bold;
    padding: 0 15px; 
    margin: 10px auto; 
    margin-bottom: 20px;
    border-radius: 10px;
    color: #2563EB;
}

.done{
    background-color: rgb(106, 212, 106);
    text-decoration: line-through;
}