body{
    font-family: "Manrope", sans-serif;
    align-content: center;
    margin: 0 auto; 
}

h1{
  text-align: center;
  text-emphasis-color: white;
  font-size: 3rem;
  font-weight: 600;
  margin: 1% 0 2%;
  padding: 2% 0 2%;
}

input{
    height: 60px;
    border: 2px solid, #2563EB;
    background-color: #ffff;
    color: black;
}

button{
    border:none; 
    height: 50px; 
    background-color: #EFF6FF;
    color: #2563EB;
    cursor: pointer; 
    transition: 0.5s;
}

button:hover{
 background-color: #ccd8e8;
}
